<div id="nav_bar">
    <a class = "nav_link" href="/items">
        <div class="nav_button">
            <p class="nav_button_text">Items</p>    
        </div>
    </a>
    <a class = "nav_link" href="/items/add">
        <div class="nav_button">
            <p class="nav_button_text">Add Item</p>    
        </div>
    </a>
</div>