<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Item</title>
</head>
<body>
    <%- include ('./components/navbar.ejs') %>
    <div id="main_content_zone">
        <h1>Add New Item</h1>
        <form method="post">
            <label for="item_id"> Item ID: </label>
            <input type ="text" id="item_id" name="item_id"></input>
            <br>
            <label for="item_name"> Item Name: </label>
            <input type ="text" id="item_name" name="item_name"></input>
            <br>
            <label for="price"> Price: </label>
            <input type ="text" id="price" name="price"></input>
            <br>
          
            <input type = "submit">
        </form>
    </div>
</body>
</html>