<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Item</title>
</head>
<body>
    <div id="main_content_zone">
        <p>Are you sure you want to delete the Item "<%= menu_items.item_name %>" Item with ID of: <%= menu_items.item_id  %> </p>
        <form method="post">
            <input type = "submit" value="confirm?"></input>
        </form>
    </div>
</body>
</html>